.header-list li {
  display: inline-block;
  padding: 10px;
}

.header-list li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.header-list li:hover {
  background-color: red;
}

.header-list {
  padding: 5px;
  margin: 0px;
  background-color: black;
}

.footer {
  position:relative;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
}

.footer_h3 {
  color: white;
}





.main-menu {
  min-height: 100%;
  padding: 2%;
  border-radius: 8px;
}

.main-detail {
  margin: 1rem 0 1.5rem;
}

.item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  margin-top: 1rem;
  gap: 2%;
  border-radius: 8px;
}

.item-card {
  min-height: 280px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  margin: 1% 0;
  box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: transform 0.3s ease
}

.item-card:hover {
  box-shadow: rgba(176, 176, 176, 0.2) 0px 2px 8px 0px;
  background-color: white;
  transform: scale(1.1); 
}

.item-card:hover .item-img {
  filter: opacity(1);
}



.item-card:hover .price {
  letter-spacing: 1.5;
}

.item-img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3%;
  width: 100%;
}

.item-descriptin {
  font-size: 12px;
  color: black;
  letter-spacing: 0.5;
  margin: 1% 0;
}

.price {
  color: red;
}

.item-favorites {
  font-size: 25px;
}



/* Car list, Filter Container and Search Bar */

.filter-container {
  margin: 20px 0;
  width: 250px;
  display: flex;
  justify-content: center; /* Center the search bar */
}

.search-bar {
  width: 300px; /* Width of the search bar */
  padding: 10px; /* Padding inside the search bar */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: border 0.3s; /* Smooth transition for border */
}

.search-bar:focus {
  border-color: #1c87c9; /* Change border color on focus */
}



/* Profile Style. */

/* General container styling */
.profile-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

/* Header section styling */
.profile-header {
  margin-bottom: 20px;
}

.profile-header h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 5px;
}

.profile-header p {
  color: #666;
  font-size: 1.2em;
}

/* Profile details section */
.profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #ddd;
}

/* Information section styling */
.profile-info {
  text-align: left;
}

.profile-info h2 {
  color: #333;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.profile-info p {
  color: #666;
  font-size: 1em;
  margin: 5px 0;
}

/* Contact details styling */
.profile-contact p {
  color: #444;
  font-size: 0.9em;
}

.profile-contact strong {
  color: #000;
}


/* style.css */

/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Profile Page Styling */
.profile-container, .about-container {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-details p, .car-history h3, .car-history ul {
  margin: 10px 0;
}

.car-history ul {
  list-style-type: none;
  padding: 0;
}

.car-history ul li {
  background-color: #e0e0e0;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
}

/* About Page Styling */
.map-container {
  margin: 20px 0;
}

.map-container iframe {
  border: none;
  border-radius: 8px;
}

h2, h3 {
  color: #333;
}

p {
  line-height: 1.6;
}


/* About Styling. */

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #f0f0f0, #e6e6e6);
  padding: 20px;
  perspective: 1000px; /* Enables 3D effects */
}

.about-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}

.about-logo:hover {
  transform: rotateY(360deg); /* 3D rotation on hover */
}

.about-content {
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  transform-style: preserve-3d;
  animation: slideIn 1s ease-out forwards;
}

.about-content h2 {
  text-align: center;
  color: #333;
}

.about-content ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #555;
}

.location-header {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.map-container {
  width: 90%;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  justify-content: center;          /* Center horizontally */
  align-items: center;              /* Center vertically */
  overflow: hidden;
  min-height: 500px;
  border-radius: 8px;              /* Optional: Add rounded corners */
}

/* Keyframe animations */
@keyframes slideIn {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Car Listing Styling */
.car-list-nav {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-button {
  background-color: rgb(205, 18, 18);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #8f2626;
}

.nav-button.active {
  background-color: #ff0202;
}

.selling-cars, .renting-cars {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filter-container {
  margin-bottom: 20px;
  
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item-card {
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.item-details {
  margin-top: 10px;
}

.item-name h4 {
  margin: 0;
  color: black;
}

.price {
  color: #007bff;
  font-weight: bold;
}


/* Contact Styling */

.contact {
  padding: 20px;
  justify-content: center;          /* Center horizontally */
  align-items: center;              /* Center vertically */
  overflow: hidden;
  min-height: 500px;
  margin: auto;                    /* Center in the page */
  border-radius: 8px;              /* Optional: Add rounded corners */
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact label {
  display: block;
  margin-bottom: 10px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.contact button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background-color: #882121;
}

/* Styles for the dashboard and forms */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.toggle-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  width: 450px;
  transition: transform 0.5s;
}

.inputBox {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.registerButton:hover {
  transform: scale(1.05);
}

.delete-car-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}



/* Container for the list and details next to each other */
.message-list-container {
  display: flex;
  width: 100%;
  gap: 20px; /* Space between the list and the details */
}



/* Selected message details */
.message-details {
  flex: 1;
  max-width: 50%;
  
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;

}


/* Car Details Styling */

.car-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.car-details-card {
  flex-direction: row;
  width: 80%;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.car-image {
  width: 500px;
  height: 400px;
  margin-right: 20px;
  border-radius: 10px;
  

}

.car-info {
  display: flex;
  flex-direction: column;
}

.car-info h2 {
  margin: 0 0 10px;
  color: #333;
}

.car-info p {
  margin: 5px 0;
  color: #555;
}

.back-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover { 
  background-color: #991d1dd6;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

/* General Styles */


.container {
  width: 90%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Button Styles */
button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #991d1dd6;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="number"],
form input[type="file"] {
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

form button {
  width: 100%;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: red;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td a {
  color: red;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  button {
    font-size: 12px;
    padding: 8px;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="date"],
  form input[type="number"],
  form input[type="file"] {
    font-size: 12px;
  }

  th, td {
    padding: 8px;
  }
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
